body{
    margin:50px;
    border:2px solid black;
}

.head{
    text-align:center;
    color:#dea302;
}

.message{
    text-align: center;
    color:blue;
}

.body{
    display:flex;
    justify-content: space-around;
}

img:hover{
    box-shadow: 0px 10px 30px rgba(37,50,233,1);  
}